<launch>
    <arg name="veh" default="airockstar" doc="Name of vehicle. ex: megaman"/> 
    <arg name="local" default="true" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>

    <include file="$(find duckietown)/machines"/>

    <group ns="$(arg veh)">

        <!-- run local -->
        <node if="$(arg local)" pkg="cnn_lane_following" type="cnn_lane_controller_node.py" name="cnn_lane_following"
              output="screen" clear_params="true" required="true">
        </node>

        <!-- run remote -->
        <node unless="$(arg local)" machine="$(arg veh)" pkg="cnn_lane_following" type="cnn_lane_controller_node.py"
              name="cnn_lane_following" output="screen" clear_params="true" required="true">
        </node>
    </group>
</launch>
